@import '../../../styles/variables.scss';

.main {
    display: flex;
    flex-direction: column;
    gap: 36px;
    overflow-y: auto;
    box-sizing: border-box;
    align-items: center;
    background-color: #FFFFFF;
}
