.main {
    display: flex;
    flex-direction: column;
    gap: 36px;
    overflow-y: auto;
    box-sizing: border-box;
    align-items: center;
    background-color: #FFFFFF;

    .header {
        display: flex;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
        
        justify-content: center;
        
        .content {
            display: flex;
            max-width: 1280px;
            width: 100%;
        }
    }

}
